<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189945333110-3oh713d6f2hrfv1utt6s6g0megik9pqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189945333110-3oh713d6f2hrfv1utt6s6g0megik9pqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBVRPV7LroSFug7yyx-sejMjxbsRy1cglA</string>
	<key>GCM_SENDER_ID</key>
	<string>189945333110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gabriel.guimaraes.quizLab</string>
	<key>PROJECT_ID</key>
	<string>quiz-lab-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-lab-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189945333110:ios:d21f6952398f919a352657</string>
</dict>
</plist>